
@{
    ViewBag.Title = "AdminUsers";
}

<h2>AdminUsers</h2>

<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Form Name</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="firstName">First Name</label>
                        <div class="col-md-4">
                            <input id="firstName" name="firstName" type="text" placeholder="text" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="secondName">Second Name</label>
                        <div class="col-md-4">
                            <input id="secondName" name="secondName" type="text" placeholder="text" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="firstLastName">First Last Name</label>
                        <div class="col-md-4">
                            <input id="firstLastName" name="firstLastName" type="text" placeholder="text" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="secondLastNAme">Second Last Name</label>
                        <div class="col-md-4">
                            <input id="secondLastNAme" name="secondLastNAme" type="text" placeholder="text" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password1User">Password</label>
                        <div class="col-md-4">
                            <input id="password1User" name="password1User" type="password" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password2User">Re-Type Password</label>
                        <div class="col-md-4">
                            <input id="password2User" name="password2User" type="password" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="currencyUser">Currency</label>
                        <div class="col-md-4">
                            <select id="currencyUser" name="currencyUser" class="form-control">
                                <option value="student">Student</option>
                                <option value="programmer">Programmer</option>
                                <option value="graphicDesigner">Graphic Designer</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="emailUser">Email</label>
                        <div class="col-md-4">
                            <input id="emailUser" name="emailUser" type="text" placeholder="email" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sexUser">Sex </label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="sexUser-0">
                                <input type="radio" name="sexUser" id="sexUser-0" value="f" checked="checked">
                                Female
                            </label>
                            <label class="radio-inline" for="sexUser-1">
                                <input type="radio" name="sexUser" id="sexUser-1" value="m">
                                Male
                            </label>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="levelUser">User Level</label>
                        <div class="col-md-4">
                            <select id="levelUser" name="levelUser" class="form-control">
                                <option value="NormalUser">Normal User</option>
                                <option value="Admin">Admin</option>
                                <option value="SuperUser">Super User</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="createUser"></label>
                        <div class="col-md-4">
                            <button id="createUser" name="createUser" class="btn btn-success">Create</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

</body>