
@{
    ViewBag.Title = "AdminEvent";
}

<h2>AdminEvent</h2>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

      

        <div id="page-wrapper">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Create Event</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="eventName">Event Name</label>
                        <div class="col-md-5">
                            <input id="eventName" name="eventName" type="text" placeholder="name" class="form-control input-md">
                            
                        </div>
                    </div>
                    <!-- calendario -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dateEvent">Event Begin</label>
                        <div class="col-md-5">
                            <input type="date" name="dateStartEvent" >
                            <input type="time" name="beginEvent">
                            
                        </div>

                        
                    </div>

                    <!-- Horas -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="timeEvent">Event Ends</label>
                        <div class="col-md-5">
                            <input type="date" name="dateEndEvent">
                            <input type="time" name="endEvent">
                        </div>
                    </div> 
                    <!-- Prepended text funds-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fundsEvent">Event Funds</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Amount</span>
                                <input id="fundsEvent" name="fundsEvent" class="form-control" placeholder="lps" type="text" required="">
                            </div>

                        </div>
                    </div>
                    <!-- Prepended text price-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="priceEvent">Event Price</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Amount</span>
                                <input id="priceEvent" name="priceEvent" class="form-control" placeholder="lps" type="text" required="">
                            </div>

                        </div>
                    </div>

                    <!-- Multiple Checkboxes (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="voteTypeEvent">Votation Type</label>
                        <div class="col-md-4">
                            <label class="checkbox-inline" for="voteTypeEvent-0">
                                <input type="checkbox" name="voteTypeEvent" id="voteTypeEvent-0" value="0">
                                Public
                            </label>
                            <label class="checkbox-inline" for="voteTypeEvent-1">
                                <input type="checkbox" name="voteTypeEvent" id="voteTypeEvent-1" value="1">
                                Private
                            </label>
                        </div>
                    </div>

                    

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="typeEvent">TypeEvent</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="typeEvent-0">
                                <input type="radio" name="typeEvent" id="typeEvent-0" value="0" checked="checked">
                                Hacktathon
                            </label>
                            <label class="radio-inline" for="typeEvent-1">
                                <input type="radio" name="typeEvent" id="typeEvent-1" value="1">
                                Barcamp
                            </label>
                        </div>
                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="radios">Event Privacy</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="0" checked="checked">
                                Private
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="1">
                                Public
                            </label>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="imagenEvento">Imagen Del Evento</label>
                        <div class="col-md-4">
                            <input id="imagenEvento" name="imagenEvento" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="descriptionEvent">Event Description</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="descriptionEvent" name="descriptionEvent">only text</textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sendButton"></label>
                        <div class="col-md-4">
                            <button id="sendButton" name="sendButton" class="btn btn-primary">Create</button>
                        </div>
                    </div>

                </fieldset>
            </form>
            //////////////////////
            <!-- class manager -->
            <!-- class manager -->
            <!-- class manager -->
            <!-- class manager -->
            <!-- class manager -->
            <!-- class manager -->

            <section id="EventManager">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Event Manager</legend>

                        <div class="col-lg-12">
                            <h2>Events Information</h2>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Event Name</th>
                                            <th>Event Type</th>
                                            <th>Event Privacy</th>
                                            <th>Event Begin</th>
                                            <th>Event End</th>
                                            <th>Event Begin</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <th><a href=#>Modify</a><a href=#>Delete</a></th>
                                        </tr>
                                        <tr>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <td>event test</td>
                                            <th><a href=#>Modify</a><a href=#>D elete</a></th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </fieldset>
                </form>

               
            </section>

                

</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
